{% extends "base.html" %}
{% block title %} 首页 {% endblock %}
{% block mainbody %}

<div class="row clearfix">

	<div class="col-md-4 column">
		最新动态
		<ul>
			{% for newsitem in newstop6 %}
			<li>
				{% if newsitem.title|length > 14 %}
				<a href="{% url 'newsdetail' newsitem.id %}">{{newsitem.title|truncatechars:14}}…({{newsitem.create_time|date:"Y/m/j"}})</a>
				 {% else %}
				 <a href="{% url 'newsdetail' newsitem.id %}">{{newsitem.title}}({{newsitem.create_time|date:"Y/m/j"}})</a>
				 {% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>

	<div class="col-md-4 column">
		热点新闻
		<ul>
			{% for newsitem in newshot6 %}
			<li>
				{% if newsitem.title|length > 14 %}
				<a href="{% url 'newsdetail' newsitem.id %}">{{newsitem.title|truncatechars:14}}…({{newsitem.create_time|date:"Y/m/j"}})</a>
				 {% else %}
				 <a href="{% url 'newsdetail' newsitem.id %}">{{newsitem.title}}({{newsitem.create_time|date:"Y/m/j"}})</a>
				 {% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>

	{% for cateitem,catenews in catenewslist %}
	<div class="col-md-4 column">
		<a href="{% url 'newscate' cateitem.id%}">{{cateitem.name}}</a>
		<ul>
			{% for newsitem in catenews %}
			<li>
				{% if newsitem.title|length > 14 %}
				<a href="{% url 'newsdetail' newsitem.id %}">{{newsitem.title|truncatechars:14}}…({{newsitem.create_time|date:"Y/m/j"}})</a>
				 {% else %}
				 <a href="{% url 'newsdetail' newsitem.id %}">{{newsitem.title}}({{newsitem.create_time|date:"Y/m/j"}})</a>
				 {% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}

</div>
{% for img in fname %}
<div class="row clearfix">
	<div class="col-md-4 column">
		<a href="{% url 'imgdetect' img %}"><img src="/media/images/{{img}}" class="img-thumbnail" /></a>
	</div>
	{% endfor %}
</div>
{% endblock %}