{% extends "base.html" %}
{% block title %} 首页 {% endblock %}
{% block mainbody %}


<div class="row clearfix">
	<div class="col-md-3 column">
		封面图片
		<div id="myCarousel" class="carousel slide">
			<!-- 轮播（Carousel）指标 -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>   
			<!-- 轮播（Carousel）项目 -->
			<div class="carousel-inner">
				{% for newsitem in fnamenewsobj %}
				<div {% ifequal forloop.counter 1 %} class="item active" {% else %} class="item" {% endifequal%}>
					<a href="{% url 'newsdetail' newsitem.id %}"><img src="/media/{{newsitem.img}}" class="img-thumbnail" /></a>
				</div>
				{% endfor %}
			</div>
			<!-- 轮播（Carousel）导航 -->
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div> 

	</div>

	<div class="col-md-4 column">
		最新动态
		<ul>
			{% for newsitem in newstop6 %}
			<li>
				{% if newsitem.title|length > 14 %}
				<a href="{% url 'newsdetail' newsitem.id %}">{{newsitem.title|truncatechars:14}}…({{newsitem.create_time|date:"y/m/j"}})</a>
				 {% else %}
				 <a href="{% url 'newsdetail' newsitem.id %}">{{newsitem.title}}({{newsitem.create_time|date:"y/m/j"}})</a>
				 {% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>

	<div class="col-md-5 column">
		热点新闻
		<ul>
			{% for newsitem in newshot6 %}
			<li>
				{% if newsitem.title|length > 14 %}
				<a href="{% url 'newsdetail' newsitem.id %}">{{newsitem.title|truncatechars:14}}…({{newsitem.create_time|date:"y/m/j"}})</a>
				 {% else %}
				 <a href="{% url 'newsdetail' newsitem.id %}">{{newsitem.title}}({{newsitem.create_time|date:"y/m/j"}})</a>
				 {% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>
</div>

	<div class="row clearfix" >
	{% for cateitem,catenews in catenewslist %}
	{% if catenews %}
	<div class="col-md-4 column">
		<a href="{% url 'newscate' cateitem.id%}">{{cateitem.name}}</a>
		<ul>
			{% for newsitem in catenews %}			
			<li>
				{% if newsitem.title|length > 14 %}
				<a href="{% url 'newsdetail' newsitem.id %}">{{newsitem.title|truncatechars:14}}…({{newsitem.create_time|date:"y/m/j"}})</a>
				 {% else %}
				 <a href="{% url 'newsdetail' newsitem.id %}">{{newsitem.title}}({{newsitem.create_time|date:"y/m/j"}})</a>
				 {% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% endfor %}
	

	<div class="col-md-4 column">
		<a href="{%url 'userproduct' 1 %}">最新产品</a>
		<ul>
			{% for productitem in producttop6 %}
			<li>
				{% if productitem.name|length > 20 %}
				<a href="{% url 'productdetail' productitem.id %}">{{productitem.name|truncatechars:20}}…({{productitem.create_time|date:"y/m/j"}})</a>
				 {% else %}
				 <a href="{% url 'productdetail' productitem.id %}">{{productitem.name}}({{productitem.create_time|date:"y/m/j"}})</a>
				 {% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>


</div>
{% if res1 and res2 %}
<h3>外部图片新闻</h3>
<div class="row clearfix">
	<div class="col-md-3 column">
		<ul>
		{% for urlval,strval in res1 %}
			<li>
				<a href="{{urlval}}">{{strval}})</a>
			</li>
		{% endfor %}
	</ul>
	</div>
	{% for i,j in res2 %}
	<div class="col-md-3 column" align="center">
		{{i|cut:"["|cut:"]"|safe}}
			<br>
		{{j|cut:"["|cut:"]"|safe}}
	</div>
	{% endfor %}
</div>
{% endif %}

<h3>封面图片</h3>
{% for img in fname %}
<div class="row clearfix">
	<div class="col-md-4 column">
		<a href="{% url 'imgdetect' img %}"><img src="/media/images/{{img}}" class="img-thumbnail" /></a>
	</div>
	{% endfor %}
</div>

{% endblock %}