{% extends "base.html" %}
{% block title %} {{newsobj.title}}-内容{% endblock %}
{% block mainbody %}

	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						{{newsobj.title}}{% if news_hits %}  ——阅读量：{{news_hits}}{% endif%}<br>
						{% if newsobj.img %} 封面图片：<br><img width=320,height=320 src="/media/{{newsobj.img}}">{% endif %}					
 					</h3>
				</div>
				<div class="panel-body">
					{{newsobj.content|safe}}
				</div>
				<div class="panel-footer">
					{{newsobj.create_time}}  发布人:{{newsobj.user}}{% if keyword %}  关键词：{{keyword}}{% endif %}
				</div>
			
			</div>
		</div>
	</div>
{% endblock %}